{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container">

  <div class="row">
    <h1>Стек технологий</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
        <li class="list-group-item">
          Docker
        </li>
        <li class="list-group-item">
          Git
        </li>
        <li class="list-group-item">
          CI/CD
        </li>
        <li class="list-group-item">
          REST API
        </li>
        <li class="list-group-item">
          Django REST framework
        </li>
        <li class="list-group-item">
          Unittest
        </li>
        <li class="list-group-item">
          SQL
        </li>
        <li class="list-group-item">
          ООП, структуры данных, алгоритмы
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>В данном приложении использованы: Python, Django, Git, Bootstrap. И немного(много) личного времени.</p>
    </article>
  </div>
</div>
{% endblock %}