{% extends 'base.html' %}

{% block title %}
Дашкин журнал
{% endblock %}

{% block content %}
{% load static %}

<div class="container">
  <br>
  <div class="row">

    <div class="col-3" style="background: lightblue;">
      <h3 class="text-center">Время</h3>
    </div>
    <div class="col-9" style="background: lightskyblue;">
      <h3 class="text-center">Сколько наели, сколько наели?!</h3>
    </div>
    <hr>
  </div>

  {% for weight in page_obj %}

  <div class="row">
    <div class="col-3" style="background: lightblue;">
      {{ weight.pub_date|time:"H:i"}}
      {{ weight.pub_date|date}}

    </div>
    <div class="col-8" style="background: lightskyblue;">
      {{ weight.amount }} грамм
    </div>
    <div class="col-1" style="background: lightskyblue;">
      <a href="{% url 'weight:weight_edit' weight.id %}">
        <img src="{% static 'img/pencil-square.svg' %}" width="30" height="30" class="rounded float-end" alt="">
      </a>
    </div>
  </div>
  {% if not forloop.last %}
  <br>
  {% endif %}
  {% endfor %}

  {% include 'includes/paginator.html' %}
</div>
{% endblock %}