{% extends 'base.html' %}

{% block title %}
Записи в оперативном журнале
{% endblock %}

{% block content %}
<div class="container py-5">
  <br>
  <div class="row">
    
    <div class="col-3" style="background: lightblue;">Время</div>
    <div class="col-9" style="background: yellow;">Сколько съели, сколько съели?!</div>
    <hr>
  </div> 

  {% for record_list in list_of_lists %}

    {% for record in record_list%}
      <div class="row">
        <div class="col-3" style="background: lightblue;"> 
            {{ record.pub_date|time:"H:i"}} 
            {{ record.pub_date|date}} 

          </div>
          <div class="col-9" style="background: yellow;">
            {{ record.text|linebreaksbr }} мл
          </div>
        </div> 
        {% if not forloop.last %}
            <br>
      {% endif %}
    {% endfor %}
    <hr>
    {% endfor %}

    {% include 'includes/paginator.html' %}
</div>
{% endblock %}